*{
    margin:0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    min-height: 100vh;
}
.top{
  width: 100%;
  min-height: 60vh;
  background-image:url(https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?blend=000000&blend-alpha=10&blend-mode=normal&blend-w=1&crop=faces%2Cedges&h=630&mark=https:%2F%2Fimages.unsplash.com%2Fopengraph%2Flogo.png&mark-align=top%2Cleft&mark-pad=50&mark-w=64&w=1200&auto=format&fit=crop&q=60&ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzAwMDkxNzcwfA&ixlib=rb-4.0.3) ; 
  background-size: cover;
  background-position: cover;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color:aqua ;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding:  0 10vh;
    color: white;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.text .image{
    background-image: url(https://images.unsplash.com/photo-1537824598505-99ee03483384?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 220px;
}
#rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext .p{
    font-size: 12px;
}
.bootom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 30%;
    min-height: inherit;
    background-image: url(https://media.istockphoto.com/id/1758173843/photo/a-fast-running-cheetah-taking-a-turn-to-the-left-from-the-front.jpg?s=612x612&w=is&k=20&c=9kFCL3pZOBXiS7W2ffvdt58LonfnRCGnLXaitu2YeoU=);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;
}
.b1 p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://images.unsplash.com/photo-1506784850319-305956726452?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxMjA1MDE2fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    text-align: center;
    padding: 30px;
}
.b2 .up p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://images.unsplash.com/photo-1527555197883-98e27ca0c1ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255,255,255,0.344);
}
.b3{
    width: 50%;
    min-height: inherit;
    background-image: url(https://media.istockphoto.com/id/851543276/photo/milky-way-galaxy-with-stars-and-space-dust-in-the-universe.jpg?s=612x612&w=0&k=20&c=z8OvM8-XHigKWovxhbCsc6TLE8EVHxOtB-A7X3RsvG8=);
    background-size: cover;
    background-position: center;
    color:aliceblue
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    height: 100%;
    padding: 4vw 3vh;
}
.b3 .overlay p{
    padding: 1.2vh;
}
@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
        margin-left: initial;
    }
}

@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text .image{
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 up{
        min-height: 20vh;
    }
    .b3{
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
}